
.recipe-detail-container {
    display: flex;
    align-items: center;
    padding: 10px;
    
    margin-bottom: 20px; 
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 60%;
  }
  
  .recipe-image {
    max-width: 200px; 
    max-height: 200px; 
    margin-right: 20px; 
  }
  
  .recipe-info {
    flex: 1;
    margin-right: 20px; 
  }
  
  .recipe-button {
    flex-shrink: 0;
  }
  
  .recipe-button a {
    text-decoration: none;
    color: inherit; 
  }

  .recipe-description {
    color: #555;
    margin-top: 10px;
  }
  
  @media screen and (min-width: 735){
    .recipe-button {
      overflow: auto;
      flex-wrap: wrap;
      position: absolute;
      width: auto;
    }
  }