

.banner {
    background-size: cover;
    background-position: center;
    height: 40vh;
    margin-top: 30px;
  }
  
  .icons-container {
    height: 40vh;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-around; /* Distributes space evenly between the icons */
    align-items: center; /* Centers icons vertically within the container */
  }
  
  .detail-icons {
    max-width: 100px; /* Adjust as necessary */
    height: auto;
    margin-left: 20px;
    
  }
  
  .quote {
    text-align: center; /* Centers the text under each icon */
    font-style: italic; /* Optional: makes the text italic */
    color: #555; /* Adjust the color as needed */
      
  }

  .motivation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .motivation-image {
    height: 40vh;
    width: 800px;
    margin-right: 190px;
    
  }

  .overlay-box {
    height: 45%;
    width: 25%;
    position: absolute;
    top: 35%;
    left: 15%;
    
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0 ,0.1);
  }

  .overlay-title {
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 19px;
  }

  .overlay-text {
    margin: 0;
    text-align: center;
    color: #333;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  @media screen and (max-width: 836px) {
    .icons-container {
        flex-direction: column;
        align-items: center;
    }
    .icon-with-quote {
        width: 100%;
        margin: 10px 0;
    }
  }