@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.banner {
    background-size: cover;
    background-position: center;
    height: 40vh;
    margin-top: 30px;
}

.icons-container {
    height: 40vh;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    flex-wrap: wrap;
}

.detail-icons {
    max-width: 100px;
    height: auto;
    margin-left: 20px;
}

.quote {
    text-align: center; 
    font-style: italic; 
    color: #555; 
}

.motivation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.motivation-image {
    height: 50vh;
    width: 90vw;
    max-width: 800px;
    margin-right: 190px;
    margin-bottom: 35px;
    padding-bottom: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay-box {
    position: absolute;
    top: 40%;
    left: 34%;
    transform: translate(-30%, -35%);
    background-color: white;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; 
    text-align: center; 
    box-sizing: border-box; 
}

.overlay-title {
    font-size: 24px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 19px;
}

.overlay-text {
    margin: 0;
    color: #333;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info-container {
    max-width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20%;
    margin-bottom: 30px;
}

.info-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-item {
    width: 35%; 
  margin: 0 auto; 
  padding: 20px; 
  box-sizing: border-box; 
}

.info-item h2{
    font-size: 24px;
    font-style: italic;
    color: #555;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 16px;
    text-align: center;
}

.info-item p {
    font-family: 'Roboto';
    text-align: center;
    padding: 5%;
}

.info-item img {
    max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  align-items: center;
}


.info-item:nth-child(1) img {
    margin-top: 55px; 
    margin-left: 20px;
    }

.info-item:nth-child(2) p {
    margin-top: 60px; 
    }
    
    .info-item:nth-child(3) img {
        margin-top: 60px;
        margin-left: 10px;
    }

@media screen and (max-width: 768px) {
    .icons-container {
        flex-direction: column;
        align-items: center;
    }

    .icon-with-quote {
        width: 70%;
        margin: 10px 0;
    }

    .overlay-box {
        width: 50%;
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 10px; 
    }

    .overlay-title {
        font-size: 18px; 
    }

    .overlay-text {
        font-size: 14px; 
    }

    .info-content {
        flex-direction: row;
        align-items: center;
    }

    .info-item {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 800px) and (min-width: 600px) {
    .overlay-box {
        width: 60%; 
        padding: 15px; 
    }

    .overlay-title {
        font-size: 20px; 
    }

    .overlay-text {
        font-size: 16px;
    }
}
